body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: map-get($colors, "lightGreen");
    padding: 10px 0;

    .headerContain {
        display: flex;
        justify-content: space-between;

        .onlyDesktop {
            display: none;
        }

        .headerLogo {
            width: 140px;
            height: auto;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }

        .navBar {
            display: flex;
            align-items: center;

            .navbar {
                .navbar-toggler-icon {
                    width: 1.4rem;
                }
            }
        }
    }
    .navbar-collapse {
        a {
            color: white;
        }

        .downloadButton {
            margin-bottom: 10px;
            padding: 7px 10px;
            border-radius: 5px;
            text-decoration: none;
            background-color: map-get($colors, "darkBlue");
            color: white;
            width: auto;
            display: inline-block;
        }
    }
}

.celularContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleBox {
        margin-right: 10px;
        position: relative;
        z-index: 1;

        p {
            font-size: 0.9rem;
            font-weight: 700;
        }

        h2 {
            font-size: 1.45rem;
            margin-bottom: 20px;
            margin-right: 10px;
            font-weight: 700;
        }
    }

    .celularSectionBox {
        z-index: 0;
        position: relative;

        .redCircle {
            border-radius: 50%;
            background-color: map-get($colors, "red");
            width: 100%;
            padding-bottom: 100%;
            filter: blur(20px);
            position: absolute;
            z-index: 0;
            top: 40%;
            left: -50%;
            transform: translate(0px, -50%);
        }

        img {
            position: relative;
            z-index: 1;
            width: auto;
            height: 250px;
        }

        .celularText {
            display: none;
        }
    }
}

.appSection {
    background-color: map-get($colors, "darkBlue");
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 30px;
    text-align: center;

    p {
        font-size: 0.8rem;
        text-align: center;
    }

    h3 {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 700;
    }

    .appInstructions {
        .appInstruction {
            margin-top: 40px;
            display: flex;
            align-items: center;

            .instructionImage {
                height: 150px;
                width: 45%;
                background-position: center center;
                background-size: cover;
                margin: 0 auto;
                border-radius: 20px;
            }

            .instructionTitle {
                text-align: center;
                color: map-get($colors, "lightGreen");
                display: block;
                margin: 10px 0;
            }
        }
    }

    .shopNowButton {
        width: 180px;
        text-align: center;
        margin: 35px auto 0 auto;
    }
}


.aboutUsSection {
    text-align: center;
    margin: 30px 0;   

    .aboutUs {
        h5 {
            font-size: 2rem;
            font-weight: 700;
        }

        p {
            font-size: 0.85rem;
            margin: 15px 0;
        }
    }

    .aboutUsImage {
        img {
            display: none;
        }
    }
}

.ourWorkSection {
    text-align: center;

    .workSection {

        .workSectionImg {
            display: none;
        }

        h5 {
        font-size: 2rem;
        font-weight: 700;
        }

        p {
            font-weight: 400;
        }
    }

    .workDescription {
        color: map-get($colors, "red");
        background-color: map-get($colors, "darkBlue");
        border-radius: 20px;
        padding: 20px;
    }
    

    p {
        font-size: 0.85rem;
        margin: 15px 0;
        font-weight: 700;
    }
}

.ourCompanySection {
    text-align: center;
    background-color: map-get($colors, "darkBlue");
    margin-top: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;

    h5 {
        font-size: 1.9rem;
        font-weight: 700;
    }

    p {
        font-size: 0.8rem;
        margin: 10px 0 30px 0;
        font-weight: 400;
    }

    img {
        width: 100%;
    }
}

.blogSection {

    h4 {
        font-size: 1.9rem;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
    }
    .articles {
        .article {
            text-align: center;

            h6 {
                font-size: 1.2rem;
                font-weight: 700;
                margin-top: 20px;
            }
            .articleImage {
                height: 200px;
                background-position: center center;
                background-size: cover;
                border-radius: 20px;
                margin-top: 30px;
            }

            .redMoreArticle {
                margin: 10px 0;
                display: block;
                color: black;
                font-weight: 500;
                font-size: 0.9rem;
            }
        }
    }
}

.newsletterSection {
    .newsletter {
        text-align: center;
        margin-top: 50px;

        h5 {
            font-weight: 700;
            font-size: 1.9rem;
        }

        p {
            font-weight: 500;
            margin: 20px 0;
        }
    }

    .form {
        width: 100%;
        background-color: map-get($colors, "darkBlue");
        padding: 20px;
        border-radius: 20px;

        .formTitle {
            font-weight: 700;
            font-size: 1.5rem;
            color: white;
            margin-bottom: 20px;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'name surname'
                                 'email email'
                                 'textarea textarea';
            grid-gap: 15px;
            
            

            input, .formTextarea {
                width: 100%;
                padding: 3px 10px;
            }

            .formName {
                grid-row: name / name;
                grid-column: name / name;
            }

            .formSurname {
                grid-column-start: surname;
                grid-column-end: surname;
                grid-row-start: surname;
                grid-row-end: surname;
            }

            .formEmail {
                grid-column-start: email;
                grid-column-end: email;
                grid-row-start: email;
                grid-row-end: email;
            }

            .formTextarea {
                grid-column-start: textarea;
                grid-column-end: textarea;
                grid-row-start: textarea;
                grid-row-end: textarea;
                margin-bottom: 20px;
            }
        }
    }
}

.contactSection {
    text-align: center;
    margin-top: 50px;

    h5 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    p {
        font-weight: 500;
        font-size: 0.9rem;
        margin-bottom: 20px;
        font-weight: 400;
    }

    iframe {
        margin-bottom: 20px;
    }
}

footer {
    background-color: map-get($colors, "darkBlue");
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.navSection {
    position: relative;

    .footerLogo {
        width: 100px;
    }

    nav {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        line-height: 30px;
        width: 75%;

        a {
            color: white;
            font-weight: 400;
            font-size: 0.8rem;
            text-decoration: none;
        }
    }

    .footerMobileImg {
        width: 25%;
        position: absolute;
        right: 0px;
        top: -90px;
    }
} 

.socialMediaSection {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 50px;

    p {
        font-weight: 400;
        font-size: 0.8rem;
    }

    .socialMedias {
        a {
            color: white;
            text-decoration: none;
            margin: 0 3px;
        }
    }
}

@media screen and (min-width: 768px) {
    .celularContainer {
        justify-content: space-around;

        .titleBox {
            max-width: 380px;

            h2 {
                font-size: 3.2rem;
                font-weight: 700;
            }

            p {
                margin-top: 30px;
                margin-bottom: 30px;
                max-width: 300px;
            }
        }

        .celularSectionBox {
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;

            img {
                height: 400px;
            }

            .celularText {
                display: block;
                width: 250px;
                padding: 28px;
                box-shadow: -15px 9px 24px 5px rgba(0,0,0,0.21);
                -webkit-box-shadow: -15px 9px 24px 5px rgba(0,0,0,0.21);
                -moz-box-shadow: -15px 9px 24px 5px rgba(0,0,0,0.21);
                border-radius: 20px;
                position: absolute;
                top: 250px;
                right: 100px;
                z-index: 2;
                background-color: white;

                span {
                    font-weight: 700;
                    font-size: 1.3rem;
                    margin-bottom: 5px;
                    display: block;
                    line-height: 1.5rem;
                }

                p {
                    font-size: 0.8rem;
                    font-weight: 500;
                }
            }
        }
    }

    .appSection {
        padding-top: 60px;
        padding-bottom: 60px;

        p {
            width: 550px;
            display: block;
            margin: 0 auto;
        }

        .appInstructions {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .appInstruction {
                display: block;
                margin-top: 60px;
                justify-content: space-between;
                width: 170px;

                &:last-child {
                    margin-bottom: 40px;
                }

                p {
                    display: block;
                    width: 180px;
                    margin: 0 auto;
                }

                .instructionImage {
                    height: 220px;
                    width: 150px;
                    
                }
            }
        }
    }

    .aboutUsSection {
        display: flex;
        justify-content: space-between;

        .aboutUs {
            text-align: left;
            width: 50%;
            display: block;

            h5 {
                margin-bottom: 25px;
            }

            .generalButton {
                margin-top: 25px;
            }
        }

        .aboutUsImage {
            width: 40%;
            img {
                display: block;
                width: 100%;
                margin: 0;
            }
        }
    }

    .ourWorkSection {
        margin-top: 80px;
        margin-bottom: 140px;
        position: relative;

        


        .workSection {
            display: flex;
            justify-content: space-between;

            .workSectionImg {
                display: block;
                width: 40%;

                img {
                    width: 100%;
                }
            }

            .ourWorkTitleSection {
                width: 55%;
                text-align: left;
            }
        }


        .workDescription {
            max-width: 250px;
            padding: 30px;
            position: absolute;
            top: 150px;
            left: 70px;
        }

    }

    .ourCompanySection {
        padding-bottom: 80px;
        padding-top: 60px;

        p {
            width: 80%;
            margin: 10px auto 45px auto;
        }
    }

    .blogSection {
        .articles {
            display: flex;
            justify-content: space-between;

            .article {
                width: 30%;

                .articleImage {
                    width: auto;
                }
            }
        }
    }

    .newsletterSection {
        .form {
            padding: 40px;
        }
    }

    .contactSection {
        h5 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 40px;
        }

        iframe {
            width: 100%;
            height: 350px;
        }
    }

    footer {
        .navSection {
            .footerMobileImg {
                width: 15%;
                right: 70px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    header {
        padding-top: 10px;
        padding-bottom: 10px;

        .navBar {
            .onlyDesktop {
                display: block;
            }
    
            .nav-link {
                margin: 0 12px;
                color: white !important;
                font-weight: 500;
                
            }
    
            .downloadButton {
                color: white;
                margin-left: 40px;
                border-radius: 20px;
                padding: 5px 30px;
                font-weight: 500;
                margin-bottom: 0;
            }
        }

        
    }

    .celularContainer {
        padding-top: 80px;
        padding-bottom: 80px;
        align-items: flex-start;
        justify-content: space-between;

        .titleBox {
            max-width: 550px;
            margin-top: 40px;
            margin-right: 100px;

            h2 {
                font-size: 4.8rem;
                line-height: 5rem;
            }

            p {
                font-size: 1.2rem;
                font-weight: 500;
                margin: 50px 0;
            }
        }

        .celularSectionBox {
            img {
                height: 550px;
            }

            .celularText {
                width: 290px;
                top: 320px;
                right: 170px;

                span {
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .appSection {
        padding-top: 100px;
        padding-bottom: 100px;

        h3 {
            font-size: 2.1rem;
        }

        .appText {
            font-size: 1.05rem;
            font-weight: 400;
        }

        .appInstructions {
            display: flex;
            justify-content: space-between;

            .appInstruction {
                width: auto;

                .instructionImage {
                    margin-bottom: 20px;
                    height: 280px;
                    width: 210px;
                }

                .instructionTitle {
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .aboutUsSection {
        margin-top: 130px;
        align-items: center;
        justify-content: space-between;

        .aboutUs {
            flex-basis: 45%;
            margin-right: 60px;

            h5 {
                font-size: 2.5rem;
            }

            p {
                font-weight: 500;
                width: 90%;
            }
        }

        .aboutUsImage {
            flex-basis: 55%;
            width: auto;
            flex-shrink: 0;

            img {
                width: 100%;
            }
        }
    }

    .ourWorkSection {
        margin-top: 170px;
        margin-bottom: 250px;

        .workSection {
            justify-content: space-between;
            align-items: center;

            .workSectionImg {
                flex-basis: 55%;
                width: auto;
                flex-shrink: 0;

                img {
                    width: 100%;
                }
            }



            .ourWorkTitleSection {
                flex-basis: 50%;
                margin-left: 60px;

                h5 {
                    font-size: 2.5rem;
                    margin-bottom: 30px;
                }
    
                p {
                    font-weight: 500;
                    
                }
            }

            

        }

        .workDescription {
            display: block;
            font-size: 1.3rem;
            left: 280px;
            top: 300px;
            padding: 40px 60px;
            width: 100%;
            max-width: 300px;
        }
        
    }

    .ourCompanySection {
        padding-top: 110px;
        padding-bottom: 110px;

        p {
            font-size: 1.1rem;
        }
    }

    .blogSection {
        margin-top: 80px;
        .articles {
            .article {
                .articleImage {
                    height: 230px;
                }
            }
        }
    }

    .newsletterSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
        

        .newsletter {
            text-align: left;
            flex-basis: 40%;

            h5 {
                font-size: 2.5rem;
            }
        }

        .form {
            height: 420px;
            flex-basis: 50%;
        }
    }

    .contactSection {
        margin-top: 120px;

        h5 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.1rem;
            width: 70%;
            display: block;
            margin: 10px auto 40px auto;
        }
    }

    footer {
        margin-top: 200px;
        padding-top: 70px;
        .navSection {
            nav {
                margin-top: 60px;

                a {
                    font-size: 1.1rem;
                }
            }

            .footerMobileImg {
                width: 20%;
                top: -180px;
                right: 40px;
            }
        }
       
        

        .socialMediaSection {
            margin-top: 160px;

            p {
                font-size: 1.1rem;
            }

            a {
                font-size: 1.1rem;
            }
        }
    }
}